# Ignore virtual environment
venv/
.venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore logs
*.log

# Ignore system files
.DS_Store

# Ignore generated data files
data/
feature_store/
models/
*.csv
*.json
!env.example
!README.md
